<!DOCTYPE html>

<html> 

    <head>
        <link rel = 'stylesheet' href="/css/styles.css">
    </head>

    <body>
        {{>404header}}
        <p>{{errMsg}}</p>
        {{>404footer}}
    </body>

</html>